<h1>All Items</h1>
<%= form_tag(items_path, method: :get) do %>
	<%= text_field_tag(:term, params[:term], id: 'Search') %>
	<%= submit_tag('Search', name: nil, id: 'Submit') %>
<% end %>
</br>
<table>
	<thead>
		<tr>
			<td>Item Name</td>
			<td>Storage Container ID</td>
		</tr>
	</thead>
	<tbody>
		<% @items.each do |item| %>
		<tr class = 'item'>
			<td><%= item.name%></td>
			<td><%= item.storage_container_id %></td>
		</tr>
		<% end %>
	</tbody>
</table>
