<h1>All Items</h1>
<%= form_tag(items_path method: :get) do %>
	<%= label(:term, "Search") %>
	<%= text_field_tag :term, params[:term] %>
	<%= submit_tag 'Go', name: nil %>
<% end %>
</br>
<table>
	<thead>
		<tr>
			<td>Item Name</td>
			<td>Storage Container ID</td>
		</tr>
	</thead>
	<tbody>
		<% @items.each do |item| %>
		<tr>
			<td><%= item.name%></td>
			<td><%= item.storage_container_id %></td>
		</tr>
		<% end %>
	</tbody>
</table>
