<h1>Edit StorageContainer</h1>
<%= form_for @storage_container do |f| %>
	<%= f.label(:name) %>
	<%= f.text_field(:name) %>
	<%= f.fields_for :items do |ff|%>
		<%= ff.label(:name, "Items") %>
		<%= ff.text_field(:name, class: "item_name") %>
	<% end %>
	<br />
	<div id="item_list"></div>
	<button id="add_items" type="button" onclick="addItemField()">+</button>
	<br />
	<%= f.submit "Update Storage Container" %>
<% end %>
