<h1>All StorageContainers</h1>
<%= form_tag(storage_containers_path, method: :get) do %>
	<%= text_field_tag(:term, params[:term], id: 'Search') %>
	<%= submit_tag('Search', name: nil, id: 'Submit') %>
<% end %>
</br>
<table>
	<thead>
		<tr>
			<td>StorageContainer Name</td>
			<td>Total StorageContainer Size</td>
		</tr>
	</thead>
	<tbody>
		<% @storage_containers.each do |storage_container| %>
		<tr>
			<td>
			<%= storage_container.name%>
			<table>
				<thead><tr><td>Items</td></tr></thead>
			  <tbody>
				 <% storage_container.get_items.each do |item| %>
					<td><%= item.name%></td>
				 <% end %>
			  </tbody>
			</table>
			</td>
			<td><%= storage_container.size%></td>
			<td><%= button_to "Edit", edit_storage_container_path(storage_container), :method => :get %></td>
			<td><%= button_to "Delete", storage_container, :method => :delete %></td>
		</tr>
		<% end %>
	</tbody>
</table>
