<h1>New StorageContainer</h1>

<%= form_for(@storage_container) do |f| %>
	<%= f.label(:name) %>
	<%= f.text_field(:name) %>
	<br />
	<%= f.fields_for :items do |ff|%>
		<%= ff.label(:name, "Items") %>
		<%= ff.text_field(:name, class: "item_name") %>
	<% end %>
	<br />
	<%= f.submit "Create Storage Container" %>
<% end %>
