<h1>New StorageContainer</h1>

<%= form_for(@storage_container) do |f| %>
	<%= f.label(:name) %>
	<%= f.text_field(:name) %>
	<br />
	<%= f.label(:items) %>
	<%= text_area_tag("storage_container[items]") %>
	<br />
	<%= f.submit %>
<% end %>